.box{
    width: 50%;
    margin: 2px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
.image{
    border-radius: 50%;
    height: ;
    width: ;
}